# 0. Imports & Spark session

In [23]:
import time
import builtins  # <-- IMPORTANT
from pyspark.sql import SparkSession
from pyspark.sql.functions import (
    avg,
    round as spark_round,   # Spark round ONLY for Columns
    count,
    col,
    sum as _sum
)

spark = (
    SparkSession.builder
    .appName("PostgresVsSparkBenchmark")
    .config("spark.jars.packages", "org.postgresql:postgresql:42.7.2")
    .config("spark.eventLog.enabled", "true")
    .config("spark.eventLog.dir", "/tmp/spark-events")
    .config("spark.history.fs.logDirectory", "/tmp/spark-events")
    .config("spark.sql.shuffle.partitions", "4")
    .config("spark.default.parallelism", "4")
    .getOrCreate()
)

spark.sparkContext.setLogLevel("WARN")

# 1. JDBC connection config

In [24]:
jdbc_url = "jdbc:postgresql://postgres:5432/postgres"
jdbc_props = {
    "user": "postgres",
    "password": "postgres",
    "driver": "org.postgresql.Driver"
}

# 2. Load data from PostgreSQL

In [25]:
print("\n=== Loading people_big from PostgreSQL ===")

start = time.time()

df_big = spark.read.jdbc(
    url=jdbc_url,
    table="people_big",
    properties=jdbc_props
)

# Force materialization
row_count = df_big.count()

print(f"Rows loaded: {row_count}")
print("Load time:", builtins.round(time.time() - start, 2), "seconds")

# Register temp view
df_big.createOrReplaceTempView("people_big")

=== Loading people_big from PostgreSQL ===
Rows loaded: 1000000
Load time: 0.56 seconds

# 3. Query (a): Simple aggregation

In [26]:
print("\n=== Query (a): AVG salary per department ===")

start = time.time()

q_a = (
    df_big
    .groupBy("department")
    .agg(spark_round(avg("salary"), 2).alias("avg_salary"))
    .orderBy("department", ascending=False)
    .limit(10)
)

q_a.collect()
q_a.show(truncate=False)
print("Query (a) time:", builtins.round(time.time() - start, 2), "seconds")

=== Query (a): AVG salary per department ===
+------------------+----------+
|department        |avg_salary|
+------------------+----------+
|Workforce Planning|85090.82  |
|Web Development   |84814.36  |
|UX Design         |84821.2   |
|UI Design         |85164.64  |
|Treasury          |84783.27  |
|Training          |85148.1   |
|Tax               |85018.57  |
|Sustainability    |85178.99  |
|Supply Chain      |84952.89  |
|Subscriptions     |84899.19  |
+------------------+----------+

Query (a) time: 1.2 seconds

# 4. Query (b): Nested aggregation

In [27]:
print("\n=== Query (b): Nested aggregation ===")

start = time.time()

q_b = spark.sql("""
SELECT country, AVG(avg_salary) AS avg_salary
FROM (
    SELECT country, department, AVG(salary) AS avg_salary
    FROM people_big
    GROUP BY country, department
) sub
GROUP BY country
ORDER BY avg_salary DESC
LIMIT 10
""")

q_b.collect()
q_b.show(truncate=False)
print("Query (b) time:", builtins.round(time.time() - start, 2), "seconds")

=== Query (b): Nested aggregation ===
+------------+-----------------+
|country     |avg_salary       |
+------------+-----------------+
|Egypt       |87382.229633112  |
|Kuwait      |87349.3517377211 |
|Saudi Arabia|87348.80512175433|
|Panama      |87345.00623707911|
|Denmark     |87328.03514120901|
|Jamaica     |87305.437352083  |
|Lebanon     |87292.76891750695|
|Turkey      |87290.69043798617|
|Malaysia    |87253.78746341489|
|Kazakhstan  |87251.74274968785|
+------------+-----------------+

Query (b) time: 1.93 seconds

# 5. Query (c): Sorting + Top-N

In [28]:
print("\n=== Query (c): Top 10 salaries ===")

start = time.time()

q_c = (
    df_big
    .orderBy(col("salary").desc())
    .limit(10)
)

q_c.collect()
q_c.show(truncate=False)
print("Query (c) time:", builtins.round(time.time() - start, 2), "seconds")

=== Query (c): Top 10 salaries ===
+------+----------+---------+------+----------------+------+------------+
|id    |first_name|last_name|gender|department      |salary|country     |
+------+----------+---------+------+----------------+------+------------+
|764650|Tim       |Jensen   |Male  |Analytics       |160000|Bulgaria    |
|10016 |Anastasia |Edwards  |Female|Analytics       |159998|Kuwait      |
|754528|Adrian    |Young    |Male  |Game Analytics  |159997|UK          |
|240511|Diego     |Lopez    |Male  |Game Analytics  |159995|Malaysia    |
|893472|Mariana   |Cook     |Female|People Analytics|159995|South Africa|
|359891|Mariana   |Novak    |Female|Game Analytics  |159992|Mexico      |
|53102 |Felix     |Taylor   |Male  |Data Science    |159989|Bosnia      |
|768143|Teresa    |Campbell |Female|Game Analytics  |159988|Spain       |
|729165|Antonio   |Weber    |Male  |Analytics       |159987|Moldova     |
|952549|Adrian    |Harris   |Male  |Analytics       |159986|Georgia     |
+------+----------+---------+------+----------------+------+------------+

Query (c) time: 2.15 seconds

# 6. Query (d): Heavy self-join (COUNT only)

In [29]:
print("\n=== Query (d): Heavy self-join COUNT (DANGEROUS) ===")

start = time.time()

q_d = (
    df_big.alias("p1")
    .join(df_big.alias("p2"), on="country")
    .count()
)

print("Join count:", q_d)
print("Query (d) time:", builtins.round(time.time() - start, 2), "seconds")

=== Query (d): Heavy self-join COUNT (DANGEROUS) ===
Join count: 10983941260
Query (d) time: 7.16 seconds

# 7. Query (d-safe): Join-equivalent rewrite

In [30]:
print("\n=== Query (d-safe): Join-equivalent rewrite ===")

start = time.time()

grouped = df_big.groupBy("country").agg(count("*").alias("cnt"))

q_d_safe = grouped.select(
    _sum(col("cnt") * col("cnt")).alias("total_pairs")
)

q_d_safe.collect()
q_d_safe.show()
print("Query (d-safe) time:", builtins.round(time.time() - start, 2), "seconds")

=== Query (d-safe): Join-equivalent rewrite ===
+-----------+
|total_pairs|
+-----------+
|10983941260|
+-----------+

Query (d-safe) time: 1.11 seconds

# 8. Cleanup

In [20]:
# spark.stop()

# Exercise 4 – Load ecommerce_orders from PostgreSQL

In [31]:
df_orders = spark.read.jdbc(
    url=jdbc_url,
    table="ecommerce_orders",
    properties=jdbc_props
)

rows = df_orders.count()
print("Rows loaded:", rows)

df_orders.createOrReplaceTempView("ecommerce_orders")

Rows loaded: 1000000

In [32]:
# Exercise 4 – Question A

spark.sql("""
SELECT *
FROM ecommerce_orders
ORDER BY price_per_unit DESC
LIMIT 1
""").show(truncate=False)

+------+-------------+----------------+--------+-----------------------+----------+-------+
|id    |customer_name|product_category|quantity|price_per_unit         |order_date|country|
+------+-------------+----------------+--------+-----------------------+----------+-------+
|841292|Emma Brown   |Automotive      |3       |2000.000000000000000000|2024-10-11|Italy  |
+------+-------------+----------------+--------+-----------------------+----------+-------+

In [33]:
# Exercise 4 – Question B

spark.sql("""
SELECT product_category, SUM(quantity) AS total_quantity
FROM ecommerce_orders
GROUP BY product_category
ORDER BY total_quantity DESC
LIMIT 3
""").show(truncate=False)

+----------------+--------------+
|product_category|total_quantity|
+----------------+--------------+
|Health & Beauty |300842        |
|Electronics     |300804        |
|Toys            |300598        |
+----------------+--------------+

In [34]:
# Exercise 4 – Question C

spark.sql("""
SELECT
  product_category,
  SUM(price_per_unit * quantity) AS total_revenue
FROM ecommerce_orders
GROUP BY product_category
ORDER BY total_revenue DESC
""").show(truncate=False)

+----------------+-----------------+
|product_category|total_revenue    |
+----------------+-----------------+
|Automotive      |306589798.8600000|
|Electronics     |241525009.4500000|
|Home & Garden   |78023780.0900000 |
|Sports          |61848990.8300000 |
|Health & Beauty |46599817.8900000 |
|Office Supplies |38276061.6400000 |
|Fashion         |31566368.2200000 |
|Toys            |23271039.0200000 |
|Grocery         |15268355.6600000 |
|Books           |12731976.0400000 |
+----------------+-----------------+

In [35]:
# Exercise 4 – Question D

spark.sql("""
SELECT
  customer_name,
  SUM(price_per_unit * quantity) AS total_spent
FROM ecommerce_orders
GROUP BY customer_name
ORDER BY total_spent DESC
LIMIT 5
""").show(truncate=False)

+--------------+--------------+
|customer_name |total_spent   |
+--------------+--------------+
|Carol Taylor  |991179.1800000|
|Nina Lopez    |975444.9500000|
|Daniel Jackson|959344.4800000|
|Carol Lewis   |947708.5700000|
|Daniel Young  |946030.1400000|
+--------------+--------------+

In [36]:
# Cleanup
spark.stop()